@import compass/css3
@import compass/reset
@import compass/utilities


html, body
  background: #1b1b1b
  position: relative
  height: 100%
  overflow: hidden

header
  width: 100%
  height: 55px
  background: #272727
  color: #ccc
  z-index: 3

  #{nest("&>", headings(1,3))}
    width: 40%
    font-size: 1.3em
    font-family: Arial
    padding: 17px
    float: left
    color: #fff
    &:first-child
      font-size: 1.5em
  nav
    height: 100%
    [class^="icon-"], [class*=" icon-"]
      &:before
        vertical-align: -20%
        font-size: 24px
        padding-right: 5px
    &> ul
      float: right
      text-align: right
      width: auto
      padding-right: 20px
      height: 100%
      &> li
        position: relative
        height: 25px
        padding: 15px
        padding-left: 25px
        display: inline-block
        float: left
  .cmenu
    position: absolute
    top: 100%
    right: 50%
    min-width: 210px
    z-index: 1
    +translate(50%, 0)
    +transition(0.3s ease-in all)
    overflow: hidden
    color: #ccc
    background: #333
    border: 6px solid #222
    text-align: left
    padding: 15px
    border-top: 0
    opacity: 1
    &.ng-hide
      opacity: 0
    &.ng-hide-remove, &.ng-hide-add
      display: block !important
    li
      padding: 5px
    [class^="icon-"], [class*=" icon-"]
      &:before
        vertical-align: -10%
        font-size: 16px
        padding-right: 5px
        color: #666
        &.active
          color: #fff

  .cmenu.signup
    position: absolute
    left: auto
    right: 10px
    min-width: 400px
    min-height: 240px
    +translate(0, 0)
    form
      position: absolute
      bottom: 15px
      left: 15px
      right: 15px
      span
        display: block
        padding: 3px 3px 6px 3px
    input
      display: block
      +box-sizing(border-box)
      width: 100%
    button
      float: left
      display: block
      +box-sizing(border-box)
      width: 50%
      border-top: 0
      background: #666
      color: #000
      &:last-child
        border-left: 0
    h2
      font-family: Arial
      font-size: 1.6em
      margin-bottom: 0.4em
    p
      margin-bottom: 1em
  .cmenu.history
    $width: 75px
    $height: $width * 0.5625
    min-width: 300px
    max-height: 80vh
    font-size: 0.8em
    display: table
    &:not(.mod)
      +translate(25%, 0)
    .crop
      $crop: $width * 0.75 - $height
      margin-right: 10px
      height: $height
      width: $width
      display: table-cell
      overflow: hidden
      img
        width: $width
        margin-top: -$crop/2
        margin-bottom: -$crop/2
    .title
      display: table-cell
      vertical-align: top
      padding-left: 10px
    .time
      +experimental-value(width, calc(100% - 10px))
      font-size: 1.2em
      color: #fff
      margin-bottom: 6px
      padding: 3px
      background: #222
    .row
      display: table-row
  a
    color: #ddd
    text-decoration: none

#party
  position: absolute
  top: 55px
  bottom: 0
  right: 0
  left: 0

#videowrapper
  +experimental-value(width, calc(50% - 14px))
  border-style: solid
  border-color: #222
  border-width: 0 7px 0 7px
  position: relative
  float: left
  background: #131313
  +box-shadow(#353535 0 -1px 0, #111 0 -2px 0)

  #playlistwrapper
    +experimental-value(padding-bottom, calc(100vh - 56.25% - 55px))
    overflow: hidden
    position: relative
    height: 0

  #playlist
    +no-bullets
    +experimental-value(height, calc(100vh - 28.125vw - 55px))
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    overflow: auto
    li
      position: relative
      color: #bbb
      padding: 8px
      &:not(:last-child)
        border-bottom: 1px solid #050505
        +box-shadow(#222 0px 1px 0px)
    span.title
      position: absolute
      left: 105px
      top: 50%
      +experimental-value(width, calc(50vw - 230px))
      +translate(0, -50%)
    span.duration
      position: absolute
      top: 50%
      right: 10px
      +translate(0, -50%)
    .crop
      $width: 85px
      $height: $width * 0.5625
      $crop: $width * 0.75 - $height
      margin-right: 10px
      height: $height
      width: $width
      overflow: hidden
      img
        width: $width
        margin-top: -$crop/2
        margin-bottom: -$crop/2
    span[class^="icon-"]
      position: absolute
      right: 80px
      top: 50%
      +translate(0, -50%)
  form
    height: 48px
  input
    position: absolute
    top: 50%
    +translate(0, -50%)
  input[type="submit"]
    right: 10px
  input:not([type="submit"])
    +experimental-value(width, calc(50vw - 137px))

#video
  padding-bottom: 56.25%
  height: 0
  position: relative
  background: #000
  overflow: hidden
  iframe, embed
    position: absolute
    top: 0
    left: 0
    height: 100%
    width: 100%

#chat
  float: right
  height: 100%
  overflow: hidden
  width: 50%
  color: #bbb
  background: #191919
  line-height: 1.5
  font-family: Arial
  position: relative
  +box-shadow(#353535 0 -1px 0, #111 0 -2px 0, #111 -1px 0 0)
  #messages
    position: absolute
    left: 0
    right: 0
    bottom: 55px
    padding: 20px
  ul
    display: table
  li
    margin: 5px
    padding: 2px
    +experimental-value(width, calc(100% - 20px))
    display: table-row
    position: relative
    .user
      &:after
        content: " >"
      padding-right: 10px
      display: table-cell
      text-align: right
      font-weight: bold
      height: 100%
      white-space: nowrap
    .msg
      display: table-cell
  .chatFooter
    +box-sizing(border-box)
    height: 55px
    position: absolute
    bottom: 0px
    background: #272727
    width: 100%
    padding: 10px
    overflow: hidden
    +box-shadow(#353535 0 -1px 0, #111 0 -2px 0)
    form.nameChooser
      overflow: hidden
      height: 55px
      white-space: nowrap
      .validate
        width: 30%
        float: left
      input:not([type="submit"])
        +experimental-value(width, calc(100% - 60px))
      input[type="submit"]
        width: 40px
      span
        font-size: 0.8em
        padding-left: 8px
        vertical-align: -20%
  form:not(.nameChooser) input, button
    border: 1px solid #111
    background-color: #353535
    &:not([type="submit"])
      margin-right: 5px
      +experimental-value(width, calc(100% - 125px))

// Classes

.admin-role
  font-family: Arial
  font-weight: bold
  color: #b66

.mod-role
  font-family: Arial
  font-weight: bold
  color: #66b

.user-role
  font-family: Arial
  color: #bbb

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak
  display: none !important

[class^="icon-"], [class*=" icon-"]
  &:before
    color: #bbb
  &:not(.icon-view)
    cursor: pointer
    &:hover:before
      color: #f44

// Common Tags

input, button
  padding: 7px
  font-size: 0.8em
  margin: 0
  border: 0
  background: #222
  outline: none
  color: #bbb
  border: 1px solid #080808
  +box-shadow(#222 0px 0px 3px)
  &[type="submit"]::-moz-focus-inner
    padding: 0
    border: 0

.validate
  border: 3px solid transparent
  &.ng-dirty.ng-valid
    border: 3px solid #227522
    background: #227522
  &.ng-dirty.ng-invalid
    border: 3px solid #752222
    background: #752222

// Browser specific

::-webkit-scrollbar
  width: 12px
  height: 12px

::-webkit-scrollbar-track
  background: #444

::-webkit-scrollbar-thumb
  background: #090909


// Fonts

@font-face
  font-family: 'wetube_icons'
  src: url('../fonts/wetube_icons.eot?q4ianb')
  $fonts1: url('../fonts/wetube_icons.eot?#iefixq4ianb') format('embedded-opentype')
  $fonts2: url('../fonts/wetube_icons.woff?q4ianb') format('woff')
  $fonts3: url('../fonts/wetube_icons.ttf?q4ianb') format('truetype')
  $fonts4: url('../fonts/wetube_icons.svg?q4ianb#wetube_icons') format('svg')
  src: $fonts1, $fonts2, $fonts3, $fonts4
  font-weight: normal
  font-style: normal

[class^="icon-"], [class*=" icon-"]
  font-family: 'wetube_icons'
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.icon-video:before
  content: "\e600"
.icon-add:before
  content: "\e601"
.icon-remove:before
  content: "\e602"
.icon-backspace:before
  content: "\e603"
.icon-blocked:before
  content: "\e604"
.icon-view:before
  content: "\e605"
.icon-users:before
  content: "\e606"
.icon-bubble:before
  content: "\e608"
.icon-history:before
  content: "\e609"
.icon-login:before
  content: "\e379"
.icon-logout:before
  content: "\e37a"
.icon-github:before
  content: "\e4b8"
.icon-reload:before
  content: "\e3a8"
.icon-shuffle:before
  content: "\e3aa"
.icon-vote:before
  content: "\e310"
.icon-forward:before
  content: "\e389"
.icon-settings:before
  content: "\e1e2"
.icon-spinner:before
  content: "\e1a8"
.icon-play:before
  content: "\e385"
.icon-pause:before
  content: "\e386"
.icon-eject:before
  content: "\e38e"
.icon-link:before
  content: "\e47c"
