/* line 17, ../../../../../.gem/ruby/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

/* line 22, ../../../../../.gem/ruby/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html { line-height: 1; }

/* line 24, ../../../../../.gem/ruby/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul { list-style: none; }

/* line 26, ../../../../../.gem/ruby/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table { border-collapse: collapse; border-spacing: 0; }

/* line 28, ../../../../../.gem/ruby/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

/* line 30, ../../../../../.gem/ruby/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote { quotes: none; }
/* line 103, ../../../../../.gem/ruby/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

/* line 32, ../../../../../.gem/ruby/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img { border: none; }

/* line 116, ../../../../../.gem/ruby/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

/* line 6, ../sass/main.sass */
html, body { background: #1b1b1b; position: relative; height: 100%; overflow: hidden; }

/* line 12, ../sass/main.sass */
header { width: 100%; height: 55px; background: #272727; color: #cccccc; z-index: 3; }
/* line 19, ../sass/main.sass */
header > h1, header > h2, header > h3 { width: 40%; font-size: 1.3em; font-family: Arial; padding: 17px; float: left; color: white; }
/* line 26, ../sass/main.sass */
header > h1:first-child, header > h2:first-child, header > h3:first-child { font-size: 1.5em; }
/* line 28, ../sass/main.sass */
header nav { height: 100%; }
/* line 31, ../sass/main.sass */
header nav [class^="icon-"]:before, header nav [class*=" icon-"]:before { vertical-align: -20%; font-size: 24px; padding-right: 5px; }
/* line 35, ../sass/main.sass */
header nav > ul { float: right; text-align: right; width: auto; padding-right: 20px; height: 100%; }
/* line 41, ../sass/main.sass */
header nav > ul > li { position: relative; height: 25px; padding: 15px; padding-left: 25px; display: inline-block; float: left; }
/* line 48, ../sass/main.sass */
header .cmenu { position: absolute; top: 100%; right: 50%; min-width: 210px; z-index: 1; -webkit-transform: translate(50%, 0); -moz-transform: translate(50%, 0); -ms-transform: translate(50%, 0); -o-transform: translate(50%, 0); transform: translate(50%, 0); -webkit-transition: 0.3s ease-in all; -moz-transition: 0.3s ease-in all; -o-transition: 0.3s ease-in all; transition: 0.3s ease-in all; overflow: hidden; color: #cccccc; background: #333333; border: 6px solid #222222; text-align: left; padding: 15px; border-top: 0; opacity: 1; }
/* line 64, ../sass/main.sass */
header .cmenu.ng-hide { opacity: 0; }
/* line 66, ../sass/main.sass */
header .cmenu.ng-hide-remove, header .cmenu.ng-hide-add { display: block !important; }
/* line 68, ../sass/main.sass */
header .cmenu li { padding: 5px; }
/* line 71, ../sass/main.sass */
header .cmenu [class^="icon-"]:before, header .cmenu [class*=" icon-"]:before { vertical-align: -10%; font-size: 16px; padding-right: 5px; color: #666666; }
/* line 76, ../sass/main.sass */
header .cmenu [class^="icon-"]:before.active, header .cmenu [class*=" icon-"]:before.active { color: white; }
/* line 79, ../sass/main.sass */
header .cmenu.signup { position: absolute; left: auto; right: 10px; min-width: 400px; min-height: 240px; -webkit-transform: translate(0, 0); -moz-transform: translate(0, 0); -ms-transform: translate(0, 0); -o-transform: translate(0, 0); transform: translate(0, 0); }
/* line 86, ../sass/main.sass */
header .cmenu.signup form { position: absolute; bottom: 15px; left: 15px; right: 15px; }
/* line 91, ../sass/main.sass */
header .cmenu.signup form span { display: block; padding: 3px 3px 6px 3px; }
/* line 94, ../sass/main.sass */
header .cmenu.signup input { display: block; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; width: 100%; }
/* line 98, ../sass/main.sass */
header .cmenu.signup button { float: left; display: block; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; width: 50%; border-top: 0; background: #666666; color: black; }
/* line 106, ../sass/main.sass */
header .cmenu.signup button:last-child { border-left: 0; }
/* line 108, ../sass/main.sass */
header .cmenu.signup h2 { font-family: Arial; font-size: 1.6em; margin-bottom: 0.4em; }
/* line 112, ../sass/main.sass */
header .cmenu.signup p { margin-bottom: 1em; }
/* line 114, ../sass/main.sass */
header .cmenu.history { min-width: 300px; max-height: 80vh; font-size: 0.8em; display: table; }
/* line 121, ../sass/main.sass */
header .cmenu.history:not(.mod) { -webkit-transform: translate(25%, 0); -moz-transform: translate(25%, 0); -ms-transform: translate(25%, 0); -o-transform: translate(25%, 0); transform: translate(25%, 0); }
/* line 123, ../sass/main.sass */
header .cmenu.history .crop { margin-right: 10px; height: 42.1875px; width: 75px; display: table-cell; overflow: hidden; }
/* line 130, ../sass/main.sass */
header .cmenu.history .crop img { width: 75px; margin-top: -7.03125px; margin-bottom: -7.03125px; }
/* line 134, ../sass/main.sass */
header .cmenu.history .title { display: table-cell; vertical-align: top; padding-left: 10px; }
/* line 138, ../sass/main.sass */
header .cmenu.history .time { width: -webkit-calc(100% - 10px); width: -moz-calc(100% - 10px); width: -ms-calc(100% - 10px); width: -o-calc(100% - 10px); width: calc(100% - 10px); font-size: 1.2em; color: white; margin-bottom: 6px; padding: 3px; background: #222222; }
/* line 145, ../sass/main.sass */
header .cmenu.history .row { display: table-row; }
/* line 147, ../sass/main.sass */
header a { color: #dddddd; text-decoration: none; }

/* line 151, ../sass/main.sass */
#party { position: absolute; top: 55px; bottom: 0; right: 0; left: 0; }

/* line 158, ../sass/main.sass */
#videowrapper { width: -webkit-calc(50% - 14px); width: -moz-calc(50% - 14px); width: -ms-calc(50% - 14px); width: -o-calc(50% - 14px); width: calc(50% - 14px); border-style: solid; border-color: #222222; border-width: 0 7px 0 7px; position: relative; float: left; background: #131313; -webkit-box-shadow: #353535 0 -1px 0, #111111 0 -2px 0; -moz-box-shadow: #353535 0 -1px 0, #111111 0 -2px 0; box-shadow: #353535 0 -1px 0, #111111 0 -2px 0; }
/* line 168, ../sass/main.sass */
#videowrapper #playlistwrapper { padding-bottom: -webkit-calc(100vh - 56.25% - 55px); padding-bottom: -moz-calc(100vh - 56.25% - 55px); padding-bottom: -ms-calc(100vh - 56.25% - 55px); padding-bottom: -o-calc(100vh - 56.25% - 55px); padding-bottom: calc(100vh - 56.25% - 55px); overflow: hidden; position: relative; height: 0; }
/* line 174, ../sass/main.sass */
#videowrapper #playlist { list-style: none; height: -webkit-calc(100vh - 28.125vw - 55px); height: -moz-calc(100vh - 28.125vw - 55px); height: -ms-calc(100vh - 28.125vw - 55px); height: -o-calc(100vh - 28.125vw - 55px); height: calc(100vh - 28.125vw - 55px); position: absolute; top: 0; left: 0; width: 100%; height: 100%; overflow: auto; }
/* line 11, ../../../../../.gem/ruby/2.1.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_bullets.scss */
#videowrapper #playlist li { list-style-image: none; list-style-type: none; margin-left: 0; }
/* line 183, ../sass/main.sass */
#videowrapper #playlist li { position: relative; color: #bbbbbb; padding: 8px; }
/* line 187, ../sass/main.sass */
#videowrapper #playlist li:not(:last-child) { border-bottom: 1px solid #050505; -webkit-box-shadow: #222222 0px 1px 0px; -moz-box-shadow: #222222 0px 1px 0px; box-shadow: #222222 0px 1px 0px; }
/* line 190, ../sass/main.sass */
#videowrapper #playlist span.title { position: absolute; left: 105px; top: 50%; width: -webkit-calc(50vw - 230px); width: -moz-calc(50vw - 230px); width: -ms-calc(50vw - 230px); width: -o-calc(50vw - 230px); width: calc(50vw - 230px); -webkit-transform: translate(0, -50%); -moz-transform: translate(0, -50%); -ms-transform: translate(0, -50%); -o-transform: translate(0, -50%); transform: translate(0, -50%); }
/* line 196, ../sass/main.sass */
#videowrapper #playlist span.duration { position: absolute; top: 50%; right: 10px; -webkit-transform: translate(0, -50%); -moz-transform: translate(0, -50%); -ms-transform: translate(0, -50%); -o-transform: translate(0, -50%); transform: translate(0, -50%); }
/* line 201, ../sass/main.sass */
#videowrapper #playlist .crop { margin-right: 10px; height: 47.8125px; width: 85px; overflow: hidden; }
/* line 209, ../sass/main.sass */
#videowrapper #playlist .crop img { width: 85px; margin-top: -7.96875px; margin-bottom: -7.96875px; }
/* line 213, ../sass/main.sass */
#videowrapper #playlist span[class^="icon-"] { position: absolute; right: 80px; top: 50%; -webkit-transform: translate(0, -50%); -moz-transform: translate(0, -50%); -ms-transform: translate(0, -50%); -o-transform: translate(0, -50%); transform: translate(0, -50%); }
/* line 218, ../sass/main.sass */
#videowrapper form { height: 48px; }
/* line 220, ../sass/main.sass */
#videowrapper input { position: absolute; top: 50%; -webkit-transform: translate(0, -50%); -moz-transform: translate(0, -50%); -ms-transform: translate(0, -50%); -o-transform: translate(0, -50%); transform: translate(0, -50%); }
/* line 224, ../sass/main.sass */
#videowrapper input[type="submit"] { right: 10px; }
/* line 226, ../sass/main.sass */
#videowrapper input:not([type="submit"]) { width: -webkit-calc(50vw - 137px); width: -moz-calc(50vw - 137px); width: -ms-calc(50vw - 137px); width: -o-calc(50vw - 137px); width: calc(50vw - 137px); }

/* line 229, ../sass/main.sass */
#video { padding-bottom: 56.25%; height: 0; position: relative; background: black; overflow: hidden; }
/* line 235, ../sass/main.sass */
#video iframe, #video embed { position: absolute; top: 0; left: 0; height: 100%; width: 100%; }

/* line 242, ../sass/main.sass */
#chat { float: right; height: 100%; overflow: hidden; width: 50%; color: #bbbbbb; background: #191919; line-height: 1.5; font-family: Arial; position: relative; -webkit-box-shadow: #353535 0 -1px 0, #111111 0 -2px 0, #111111 -1px 0 0; -moz-box-shadow: #353535 0 -1px 0, #111111 0 -2px 0, #111111 -1px 0 0; box-shadow: #353535 0 -1px 0, #111111 0 -2px 0, #111111 -1px 0 0; }
/* line 253, ../sass/main.sass */
#chat #messages { position: absolute; left: 0; right: 0; bottom: 55px; padding: 20px; }
/* line 259, ../sass/main.sass */
#chat ul { display: table; }
/* line 261, ../sass/main.sass */
#chat li { margin: 5px; padding: 2px; width: -webkit-calc(100% - 20px); width: -moz-calc(100% - 20px); width: -ms-calc(100% - 20px); width: -o-calc(100% - 20px); width: calc(100% - 20px); display: table-row; position: relative; }
/* line 267, ../sass/main.sass */
#chat li .user { padding-right: 10px; display: table-cell; text-align: right; font-weight: bold; height: 100%; white-space: nowrap; }
/* line 268, ../sass/main.sass */
#chat li .user:after { content: " >"; }
/* line 276, ../sass/main.sass */
#chat li .msg { display: table-cell; }
/* line 278, ../sass/main.sass */
#chat .chatFooter { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; height: 55px; position: absolute; bottom: 0px; background: #272727; width: 100%; padding: 10px; overflow: hidden; -webkit-box-shadow: #353535 0 -1px 0, #111111 0 -2px 0; -moz-box-shadow: #353535 0 -1px 0, #111111 0 -2px 0; box-shadow: #353535 0 -1px 0, #111111 0 -2px 0; }
/* line 288, ../sass/main.sass */
#chat .chatFooter form.nameChooser { overflow: hidden; height: 55px; white-space: nowrap; }
/* line 292, ../sass/main.sass */
#chat .chatFooter form.nameChooser .validate { width: 30%; float: left; }
/* line 295, ../sass/main.sass */
#chat .chatFooter form.nameChooser input:not([type="submit"]) { width: -webkit-calc(100% - 60px); width: -moz-calc(100% - 60px); width: -ms-calc(100% - 60px); width: -o-calc(100% - 60px); width: calc(100% - 60px); }
/* line 297, ../sass/main.sass */
#chat .chatFooter form.nameChooser input[type="submit"] { width: 40px; }
/* line 299, ../sass/main.sass */
#chat .chatFooter form.nameChooser span { font-size: 0.8em; padding-left: 8px; vertical-align: -20%; }
/* line 303, ../sass/main.sass */
#chat form:not(.nameChooser) input, #chat button { border: 1px solid #111111; background-color: #353535; }
/* line 306, ../sass/main.sass */
#chat form:not(.nameChooser) input:not([type="submit"]), #chat button:not([type="submit"]) { margin-right: 5px; width: -webkit-calc(100% - 125px); width: -moz-calc(100% - 125px); width: -ms-calc(100% - 125px); width: -o-calc(100% - 125px); width: calc(100% - 125px); }

/* line 312, ../sass/main.sass */
.admin-role { font-family: Arial; font-weight: bold; color: #bb6666; }

/* line 317, ../sass/main.sass */
.mod-role { font-family: Arial; font-weight: bold; color: #6666bb; }

/* line 322, ../sass/main.sass */
.user-role { font-family: Arial; color: #bbbbbb; }

/* line 326, ../sass/main.sass */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak { display: none !important; }

/* line 330, ../sass/main.sass */
[class^="icon-"]:before, [class*=" icon-"]:before { color: #bbbbbb; }
/* line 332, ../sass/main.sass */
[class^="icon-"]:not(.icon-view), [class*=" icon-"]:not(.icon-view) { cursor: pointer; }
/* line 334, ../sass/main.sass */
[class^="icon-"]:not(.icon-view):hover:before, [class*=" icon-"]:not(.icon-view):hover:before { color: #ff4444; }

/* line 339, ../sass/main.sass */
input, button { padding: 7px; font-size: 0.8em; margin: 0; border: 0; background: #222222; outline: none; color: #bbbbbb; border: 1px solid #080808; -webkit-box-shadow: #222222 0px 0px 3px; -moz-box-shadow: #222222 0px 0px 3px; box-shadow: #222222 0px 0px 3px; }
/* line 349, ../sass/main.sass */
input[type="submit"]::-moz-focus-inner, button[type="submit"]::-moz-focus-inner { padding: 0; border: 0; }

/* line 353, ../sass/main.sass */
.validate { border: 3px solid transparent; }
/* line 355, ../sass/main.sass */
.validate.ng-dirty.ng-valid { border: 3px solid #227522; background: #227522; }
/* line 358, ../sass/main.sass */
.validate.ng-dirty.ng-invalid { border: 3px solid #752222; background: #752222; }

/* line 364, ../sass/main.sass */
::-webkit-scrollbar { width: 12px; height: 12px; }

/* line 368, ../sass/main.sass */
::-webkit-scrollbar-track { background: #444444; }

/* line 371, ../sass/main.sass */
::-webkit-scrollbar-thumb { background: #090909; }

@font-face { font-family: "wetube_icons"; src: url("../fonts/wetube_icons.eot?q4ianb"); src: url("../fonts/wetube_icons.eot?#iefixq4ianb") format("embedded-opentype"), url("../fonts/wetube_icons.woff?q4ianb") format("woff"), url("../fonts/wetube_icons.ttf?q4ianb") format("truetype"), url("../fonts/wetube_icons.svg?q4ianb#wetube_icons") format("svg"); font-weight: normal; font-style: normal; }

/* line 388, ../sass/main.sass */
[class^="icon-"], [class*=" icon-"] { font-family: "wetube_icons"; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

/* line 399, ../sass/main.sass */
.icon-video:before { content: "\e600"; }

/* line 401, ../sass/main.sass */
.icon-add:before { content: "\e601"; }

/* line 403, ../sass/main.sass */
.icon-remove:before { content: "\e602"; }

/* line 405, ../sass/main.sass */
.icon-backspace:before { content: "\e603"; }

/* line 407, ../sass/main.sass */
.icon-blocked:before { content: "\e604"; }

/* line 409, ../sass/main.sass */
.icon-view:before { content: "\e605"; }

/* line 411, ../sass/main.sass */
.icon-users:before { content: "\e606"; }

/* line 413, ../sass/main.sass */
.icon-bubble:before { content: "\e608"; }

/* line 415, ../sass/main.sass */
.icon-history:before { content: "\e609"; }

/* line 417, ../sass/main.sass */
.icon-login:before { content: "\e379"; }

/* line 419, ../sass/main.sass */
.icon-logout:before { content: "\e37a"; }

/* line 421, ../sass/main.sass */
.icon-github:before { content: "\e4b8"; }

/* line 423, ../sass/main.sass */
.icon-reload:before { content: "\e3a8"; }

/* line 425, ../sass/main.sass */
.icon-shuffle:before { content: "\e3aa"; }

/* line 427, ../sass/main.sass */
.icon-vote:before { content: "\e310"; }

/* line 429, ../sass/main.sass */
.icon-forward:before { content: "\e389"; }

/* line 431, ../sass/main.sass */
.icon-settings:before { content: "\e1e2"; }

/* line 433, ../sass/main.sass */
.icon-spinner:before { content: "\e1a8"; }

/* line 435, ../sass/main.sass */
.icon-play:before { content: "\e385"; }

/* line 437, ../sass/main.sass */
.icon-pause:before { content: "\e386"; }

/* line 439, ../sass/main.sass */
.icon-eject:before { content: "\e38e"; }

/* line 441, ../sass/main.sass */
.icon-link:before { content: "\e47c"; }
