<ul>
  <li ng-repeat="played_video in history | reverse">
    <div class="time">
      {{ played_video.started | date:'H:mm:ss' }}
    </div>
    <div class="row">
      <div class=crop>
        <img ng-src="{{ played_video.thumbnail }}" />
      </div>
      <span class=title>{{ played_video.title }}</span>
    </div>
  </li>
</ul>
