<ul id=playlist>
  <li ng-cloak ng-repeat-start="video in playlist track by video.gid" ng-click="toggleAddVideo(video.gid)">
    <div class=crop>
      <img ng-src="{{ video.thumbnail }}" />
    </div>
    <span class=title>{{ video.title }}</span>
    <span ng-cloak ng-if="user.isMod()" ng-click="removeVideo($event, video.gid)" class="icon-remove"></span>
    <span class=duration>{{ video.duration | duration | date:'H:mm:ss'  }}</span>
  </li>
  <videoform ng-repeat-end ng-if="video.gid === showAddVideo && user.isMod()"></videoform>
  <videoform ng-if="playlist.length < 1 && user.isMod()"></videoform>
</ul>
