<h2>Registrieren</h2>
<p>Jetzt muss du dir nur noch einen freien Spitznamen aussuchen, damit die Leute im Chat wissen, mit wem Sie schreiben</p>
<p>Sobald du drauf lostippst, bekommst du angezeigt angezeigt, ob der Name frei ist.</p>
<form name="form" ng-submit="submit()" class="validate" novalidate>
  <span ng-show="form.username.$error.minlength || form.username.$error.maxlength">
    Der Name muss zwischen 3 und 15 Zeichen lang sein
  </span>
  <span ng-show="form.username.$error.unique">
    Der Name wird bereits von jemandem verwendet
  </span>
  <span ng-show="form.username.$error.pattern">
    Du kannst nur alphanumerische Zeichen, sowie "-" und "_" zum trennen, verwenden. Beispiel: "mein_name-2"
  </span>
  <input name="username" type="text" ng-model="input.name" placeholder="Spitzname" required
          ng-minlength=3 ng-maxlength=15 ng-pattern="/^[a-zA-Z0-9_-]+$/" ensure-unique>
  <button ng-disabled="form.$invalid" type="submit">Registrieren</button>
  <button type="button" ng-click="cancel()">Abbrechen</button>
</form>
