<ul>
  <li ng-repeat="user in users | orderBy:['role','name']">
    <span class="icon-blocked" ng-click="banUser(user.email)"
          ng-class="{active: user.banned}"></span>
    <span ng-class="[user.role + '-role']">{{ user.name }}</span>
  </li>
  <li ng-if="!users.length">Keine User eingeloggt</li>
</ul>
