<!doctype html>
<html ng-app="wetube">
<meta charset=utf-8>
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/main.css') }}">

<title>{% block title %}Wetube{% endblock %}</title>

<body ng-controller="VideoController">
<header>
  <h1>{{ self.title() }}</h1>

  {% block header %}
  {%- raw %}
  <nav>
    <ul ng-controller="UserController">
      <li ng-cloak ng-if="views">
        <span class="icon-view">{{ views }}</span>
      </li>
      <li ng-click="toggleUserlist()" ng-cloak>
        <span class="icon-users">{{ users.length }}</span>
        <div ng-show="dialog == 'userlist'" class="cmenu" ng-cloak>
          <userlist></userlist>
        </div>
      </li>
      <li ng-cloak ng-click="toggleHistory()" ng-controller="HistoryController">
        <span class="icon-history"></span>
        <div ng-show="dialog == 'history'" class="cmenu history"
		     ng-class="{mod: user.isMod()}" ng-cloak>
          <historylist history="history"></historylist>
        </div>
      </li>
      <li ng-cloak ng-click="toggleAdmin()" ng-if="user.isMod()">
        <span class="icon-settings"></span>
        <div ng-show="dialog == 'admin'" class="cmenu admin" ng-cloak>
          <span ng-hide="paused" class="icon-pause" ng-click="changeState('pause')"></span>
          <span ng-show="paused" class="icon-play" ng-click="changeState('play')"></span>
          <span class="icon-forward" ng-click="changeState('skip')"></span>
        </div>
      </li>
      <li ng-cloak ng-if="user" ng-click="logout()">
        <span class="icon-logout"></span>
      </li>
      <li ng-if="!user">
        <span class="icon-login" ng-click="login()"></span>
        <div ng-cloak class="signup cmenu" ng-if="dialog == 'signup'">
          <signup input="input" submit="submitSignUp(input)" cancel="cancelSignUp()"></signup>
        </div>
      </li>
    </ul>
  </nav>
  {%- endraw %}
  {% endblock %}
</header>

<main>
  <section id=party>
    {%- raw %}
    <section id="videowrapper">
      <div id="video">
        <player></player>
      </div>
      <section id="playlistwrapper" ng-controller="PlaylistController">
        <playlist></playlist>
      </section>
    </section>

    <section id="chat" ng-controller="ChatController">
      <div id=messages>
        <ul>
          <li ng-cloak ng-repeat="message in messages">
            <span ng-class="[message.user.role + '-role']" class=user>{{ message.user.name }}</span>
		        <span class="msg">{{ message.msg }}</span>
          </li>
        </ul>
      </div>
      <div ng-if="user" class="chatFooter">
        <form ng-submit="addMessage()" ng-cloak>
          <input type="text" ng-disabled="!user" ng-model="input.message" placeholder="Nachricht">
          <input type="submit" ng-disabled="!user" value="Hinzufügen">
        </form>
      </div>
      <div ng-if="!user" class="chatFooter">
        <form name="form" ng-submit="submitAnon()" class="nameChooser">
          <div ng-form="name" class="validate">
            <input name="username" type="text" ng-model="input.name" placeholder="Spitzname" required
                    ng-minlength=3 ng-maxlength=15 ng-pattern="/^[a-zA-Z0-9_-]+$/" ensure-unique>
            <input ng-disabled="form.$invalid" type="submit" value="Join">
          </div>
          <span ng-show="name.username.$error.minlength || name.username.$error.maxlength">
            Der Name muss zwischen 3 und 15 Zeichen lang sein
          </span>
          <span ng-show="name.username.$error.unique
                         && !(name.username.$error.minlength || name.username.$error.maxlength)
                         && !(name.username.$error.pattern)">
            Der Name wird bereits von jemandem verwendet
          </span>
          <span ng-show="name.username.$error.pattern
                         && !(name.username.$error.minlength || name.username.$error.maxlength)">
            Nur alphanumerische Zeichen, sowie "-" und "_", erlaubt.
          </span>
        </form>
      </div>
    </section>
    {%- endraw %}
  </section>
</main>
</body>

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.11/angular.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.11/angular-animate.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
<script src="https://login.persona.org/include.js"></script>
<script src="//www.youtube.com/iframe_api"></script>
<script src="{{ url_for('static', filename='js/dist.js') }}"></script>
</html>
